SAFE/v1.3/Tools/TeamFoundationServer/Transforms/CommonStructureChangedEvent.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="CommonStructureChangedEventType">
     <xsd:sequence>
       <xsd:element name="ID" type="xsd:string"/>
       <xsd:element name="Status" type="xsd:string"/>
       <xsd:element name="ChangeType" type="xsd:string"/>
       <xsd:element name="NodeID" type="xsd:string"/>
       <xsd:element name="ProjectContext" type="xsd:string"/>
       <xsd:element name="StructureType" type="xsd:string"/>
       <xsd:element name="Complex" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="CommonStructureChangedEvent" type="CommonStructureChangedEventType"/>
</xsd:schema>
