DEV/Main/Tools/TeamFoundationServer/Transforms/DataChangedEvent.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DataChangedEvent" nillable="true" type="DataChangedEvent" />
  <xs:complexType name="DataChangedEvent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="DataType" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="SeqId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>